@tailwind base;
@tailwind utilities;
@tailwind components;


.glow-btn {
    transition: box-shadow 0.3s ease;
}

.glow-btn:hover {
    box-shadow: 0 0 5px 3px white;
}

.reg-login-help {
    text-decoration: underline;
}

.reg-login-help:hover {
    color: rgb(0, 255, 47)
}

.registration-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.form-container {
    width: 60%;
    padding: 20px;
}

.form-container h1 {
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 5px #4f46e5;
}

.form-container h5 {
    font-size: 19px;
}

.info-container {
    width: 40%;
    padding: 20px;
    background-image: linear-gradient(180deg, #4f46e5, rgb(0, 242, 255));
}

.info-container h1 {
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px 5px #a200ff;
}

.info-container p {
    font-size: 20px;
    color: white;
}

.reg-btn-login {
    background-color: #4f46e5;
    color: white;
    border: none;
}

.reg-btn-login:hover {
    background-color: #4f46e5;
}

.reg-form input {
    width: 600px;
}


.horizontal-line {
    display: flex;
    align-items: center;
    width: 45%;
}

.horizontal-line .line {
    flex-grow: 1;
    height: 1px;
    background-color: #868686;
    margin: 0 10px;
    content: "";
}

.horizontal-line .or {
    color: #868686;
    font-weight: bold;
    margin: 0 10px;
}

.hover {
    transition: transform 0.3s, box-shadow 0.3s;
}

.hover:hover {
    transform: scale(1.015);
    box-shadow: 0 0 20px white;
}

.centered-container {
    width: 60%;
    height: 82%;
    background-color: #4f46e5;
    border: 2px solid black;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 5px white;
}

.bmr-form {
    border: 1px solid black;
    background-color: rgb(34, 33, 33);
}

.centered-container-1rm {
    width: 40%;
    height: 80%;
    background-color: #4f46e5;
    border: 2px solid black;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 5px white;
}

.table {
    text-align: center;
    font-size: 18px;
}

.table thead {
    font-size: 20px;
    color: white;
}

.bmr-table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-nutrition-container {
    width: 70%;
    height: 68%;
    background-color: #4f46e5;
    border: 2px solid black;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 25px 15px #6419e6;
}

.food-nutrition-container h1 {
    font-size: 50px;
    color: white;
    text-shadow: 4px 4px #000000;
    font-weight: bold;
}

.search-box {
    width: 400px;
}

.form-container-search {
    width: 60%;
    padding: 20px;
    background-color: rgb(56, 53, 53);
    border-radius: 6px;
}

.centered-container-editprofile {
    width: 50%;
    height: 82%;
    background-color: #202020;
    border: 2px solid black;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 25px 12px #6419e6;
}

.form-container-editprofile input {
    width: 600px;
}

.form-container-editprofile hr {
    margin-top: 15px;
    margin-bottom: -10px;
}

.form-container-editprofile h1 {
    font-size: 40px;
    color: white;
    text-shadow: 4px 4px #000000;
    font-weight: bold;
}

.btn-delete-profile {
    background-color: rgb(224, 54, 54);
    color: white;
    border: none;
}

.btn-delete-profile:hover {
    background-color: rgb(185, 10, 10);
    box-shadow: 0 0 5px 3px rgb(255, 230, 0);
}

.btn-save-changes {
    background-color: #6419e6;
    color: white;
    border: none;
}

.btn-save-changes:hover {
    background-color: #6419e6;
    color: white;
    box-shadow: 0 0 5px 3px #ffffff;
}

.food-data-form label {
    margin-top: 20px;
}

.food-data-form input {
    margin-top: 5px;
}

.food-data-form button {
    margin-top: 20px;
}

.food-data-card {
    background-color: rgb(22, 21, 21);
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 1px;
    margin-top: 20px;
}

.food-data-card h2 {
    font-size: 20px;
}

.food-data-card hr {
    width: 80%;
    margin: 0 auto;
}

.label-input-fn {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 80px;
}

.centered-container-savedcalories {
    width: 80%;
    min-height: 745px;
    background-color: #4f46e5;
    border: 2px solid black;
    position: relative;
    margin-top: 25px;
    margin-left: 190px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px #fbbd23;
}

.centered-container-savedcalories h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 15px 0;
}

.saved-calories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.saved-calories-entry {
    background-color: #2e2e2e;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 15px;
    text-align: center;
    list-style-type: none;
    box-shadow: 10px 13px 10px #000000;
}

.weight-columns {
    display: flex;
    justify-content: space-between;
}

.gain-weight-column,
.lose-weight-column {
    flex-basis: 50%;
}

.del-cal-btn:hover {
    box-shadow: 0 0 5px 3px rgb(255, 0, 0);
}

.centered-container-savedmaxes {
    width: 80%;
    min-height: 700px;
    background-color: #4f46e5;
    border: 2px solid black;
    position: relative;
    margin-top: 85px;
    margin-left: 190px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px #fbbd23;
}

.centered-container-savedmaxes h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 15px 0;
}

.saved-maxes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.saved-maxes-entry {
    background-color: #2e2e2e;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 15px;
    text-align: center;
    list-style-type: none;
    box-shadow: 10px 13px 10px #000000;
}

.centered-container-savednutrition {
    width: 80%;
    min-height: 670px;
    background-color: #4f46e5;
    border: 2px solid black;
    position: relative;
    margin-top: 85px;
    margin-left: 190px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px #fbbd23;
}

.centered-container-savednutrition h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 15px 0;
}

.saved-nutrition-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.saved-nutrition-entry {
    background-color: #2e2e2e;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 15px;
    text-align: center;
    list-style-type: none;
    box-shadow: 10px 13px 10px #000000;
    width: 300px;
}

.saved-nutrition-entry hr {
    margin-top: 10px;
    margin-bottom: 10px;
}